.container {
  align-self: center;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  width: 100%;
}

.mainSection {
  padding-top: 3rem;
}

.mainSection h1 {
  text-transform: uppercase;
  font-size: 2.8rem;
  line-height: 120%;
}

.greeting {
  font-weight: 400;
}

.name {
  font-weight: 600;
  transition: 0.3s;
}

.name:hover {
  background-color: #a1d3af;
}

.roles {
  display: flex;
  gap: 1.2rem;
}

.roles h2 {
  padding-top: 1rem;
  font-weight: 400;
  font-size: 1.2rem;
}

.clickThroughLinks {
  padding-top: 3rem;
}

.clickThroughLinks ul {
  display: flex;
  gap: 2rem;
}

.clickThroughLink {
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s;
}

.clickThroughLink:hover {
  background-color: #a1d3af;
  padding-left: 0.3rem;
  padding-right: 1.3rem;
}

.clickThroughLink span {
  font-weight: 300;
}

.photoSection {
  height: 320px;
}

.photoSection img {
  height: 320px;
}

@media all and (max-width: 1000px) {
  .container {
    align-self: center;
    display: flex;
    gap: 0rem;
    width: 100%;
    /* overflow-y: scroll; */
  }

  .photoSection {
    margin: auto;
    height: 240px;
  }

  .photoSection img {
    height: 100%;
  }

  .mainSection h1 {
    font-size: 2rem;
  }

  .roles h2 {
    font-size: 1rem;
  }

  .clickThroughLinks {
    padding-top: 2rem;
  }
}

@media all and (max-width: 800px) {
  .container {
    align-self: center;
    display: flex;
    flex-direction: column-reverse;
    gap: 0rem;
    width: 100%;
    /* overflow-y: scroll; */
  }

  .photoSection {
    margin: auto;
    height: 240px;
  }

  .photoSection img {
    height: 100%;
  }

  .mainSection h1 {
    font-size: 2rem;
  }

  .roles h2 {
    font-size: 1rem;
  }

  .clickThroughLinks {
    padding-top: 2rem;
  }
}
