.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 1rem;
  width: 100%;
  background-color: transparent;
  color: #4f4f4f;
  text-align: center;
}

.cta {
  text-transform: uppercase;
}

.copyright {
  font-size: 0.8rem;
}
