.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  position: fixed;
  left: 0;
  bottom: 0;
  padding-bottom: 1.5rem;
  width: 100%;
  background-color: transparent;
  color: #4f4f4f;
  text-align: center;
}

.cta {
  text-transform: uppercase;
}

.socialLinks {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.socialLinks a {
  height: 40px;
}

.socialIconLink {
  width: 40px;
  height: 40px;
}

.copyright {
  font-size: 0.8rem;
}
