/* .navContainer {
  max-width: 1920px;
  min-width: 1024px;
  margin: 0 auto;
} */

nav {
  padding: 2rem 0;
  max-width: 100%;
  align-self: flex-start;
}

.navContainer ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 3rem;
  padding: 0;
  margin: 0;
}

.navLink {
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s;
}

.navLink:hover {
  display: inline-block;
  border: none;
  font-weight: 700;
}
