* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #4f4f4f;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1ea;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  min-height: 100vh;
}

::selection {
  background-color: #a1d3af;
}
